[2017-10-24 06:24] TDabasinskas opened #1 "Support gulpfile.js outside the workspace root"
Hi,

It seems that the extensions s[earches for the **gulpfile.js** file only under the workspace root](/nickdodd79/vscode-gulptasks/blob/eb0b3876bf16da72ddf07c2ffb726756baff02e4/src/tasks-loader.ts#L47):

[code]

This might be OK in some cases, but there might be cases when the file is nested deeper in the directory. An example case could be a _Visual Studio_ project, with the following structure

[2017-10-24 08:38] nickdodd79 commented on #1
Hi @TDabasinskas

I have some other changes to make so I'll certainly give it a go a part of that.

Nick.

[2017-10-24 19:04] nickdodd79 commented on #1
Hi @TDabasinskas

I have published a 0.0.4 version of the extension that now traverses the workspace to discover a gulp file.

Note that it will use the first one it finds. I am looking to include the ability to discover multiple gulp files with some rework around what the tree displays.

Nick.

[2017-10-24 19:04] #1 closed

[2017-10-25 05:25] TDabasinskas commented on #1
Hi @nickdodd79,

It indeed seems to be working just fine now:

[code]

Thank you!

[2017-11-10 20:57] monkunashi opened #2 "config location / extraneous gulp files found"
i see node_modules is ignored during autodetection. I believe bower_components should also be ignored. also, I believe it should check the root directory of the workspace FIRST and then search subdirs if a gulpfile isn't found in the root

[2017-11-11 08:28] nickdodd79 commented on #2
Hi @monkunashi,

You make a valid point that the workspace root should be checked first and returned if found to ensure the most efficient load times (as most gulpfile.js instances will likely be at the root). On a side note, I am in the process of rewriting the extension slightly, which will also include loading multiple gulp files should projects use both a root and nested.

I have also updated

[2017-11-11 08:28] #2 closed

[2017-12-08 12:02] markinfurkin opened #3 "Discoverered wrong another gulpfile.js"
Is it possible to force the path to find out the right gulpfile in a project? Because a i have  more than one gulpfile, just adding that is not necessary to load multiples  files, just the right one

[2017-12-09 18:50] nickdodd79 commented on #3
Hi @markinfurkin,

Thanks for the feedback. I do have plans to make folder exclusion configurable - hard coded at the moment. I will make that my next task which means you should be able to guide the discovery process to your needs.

I'll give you a shout when its done.

Nick.

[2017-12-14 03:56] JosephMart opened #4 "Add Support for Babel Gulpfiles"
If a Gulpfile is utilizing babel and named `gulpfile.babel.js`, the following notification will be given

[code]

[2017-12-14 18:57] nickdodd79 commented on #4
Hi @JosephMart,

Version 0.0.8 has just been released and now supports wildcard discovery of the gulpfile.js files (i.e. gulpfile.babel.js).

Nick.

[2017-12-14 18:57] #4 closed

[2017-12-14 19:10] JosephMart commented on #4
Thank you!

[2018-01-11 11:10] Graloth opened #5 "Define gulp task location?"
Is it possible to define where the gulpfile.js is located? I'm working with a rather large project with multiple gulp files, but I only need to work on 1 of them.

[2018-01-12 05:31] nickdodd79 commented on #5
Hi @Graloth,

You sure can. Check out the "gulptasks.discovery.dir" setting in VS Code and see if that fulfils your needs (can be absolute or relative to the workspace root).

If not, let me know and I can make some adjustments.

Nick.

[2018-01-12 09:27] Graloth commented on #5
That did indeed work for me, is there a file which lists the available settings? Just so I can see if there are other things I might want to customize :)

[2018-01-12 09:38] nickdodd79 commented on #5
Awesomes. Glad it worked.

You can see all the 'contributions' an extension provides on it's page in VS Code. Part of those contributions are it's settings. Here is a snip of what it should look like.

![image](https://user-images.githubusercontent.com/28779139/34868575-5f958ef4-f7d8-11e7-842a-589d45abb93e.png)

[2018-01-12 09:40] Graloth commented on #5
Awesome, did not know that, thanks a lot!

[2018-01-16 05:58] pwsandoval opened #6 "Restart task"
I use Gulp with BrowserSync and when it has been disconnected due to some error in my code I try to execute the task again with the extension by clicking on the green icon and nothing happens.

I must finish the task and then run again, is there any way that it is automatic or a button that stops and re-executes the same task again (restart the same task)?

[2018-01-17 03:17] nickdodd79 commented on #6
Hi @pwsandoval,

There is a red stop icon used to terminate a gulp process - it terminates the process selected in the list. You can use that to stop the gulp task and then the green icon to start it again. Does that work for your scenario?

![image](https://user-images.githubusercontent.com/28779139/35023936-1969d5cc-fb91-11e7-9587-446816a1ffa3.png)

Nick.

[2018-01-17 05:50] pwsandoval commented on #6
Yes, but I was referring to an option to restart it (stop and start in one step).

[2018-01-17 06:18] nickdodd79 commented on #6
Gotcha. I'm on it :-)

[2018-01-17 20:27] gilluminate commented on #5
I know this is closed, but I'd like to mention that giving an option for specifying the specific file location would be nice. For example, we have more than one in the same directory, so they obviously aren't both named "gulpfile.js" as this extension assumes. Or maybe even an option to specify a filename to look for in addition to the directory.

[2018-01-17 20:48] nickdodd79 commented on #5
Makes sense. I'll put something together.

[2018-01-18 17:22] bdelaney opened #7 "Work with newer gulp-cli 2.0.0?"
Just installed in project with gulpfile and it locates that fine. But then hangs on 'loading gulp tasks ...'

[2018-01-18 17:55] nickdodd79 commented on #7
Hi @bdelaney,

Thanks for the heads up, I'll take a look and put a fix in.

Nick.

[2018-01-18 18:36] bdelaney commented on #7
I did test against regular Gulp client in same project and the extension works fine.
I'm not sure it is an issue for the extension though. By reading some issues on the gulp-cli repo I found that the gulp-cli install is not supposed to need the old gulp package, and yet, it fails in a local project with this error if the old gulp package is not installed:
`Local gulp not found
Try running: npm ins

[2018-01-18 18:53] nickdodd79 commented on #7
Hi @bdelaney,

I have just spent some time trying to understand why the issue was occurring and reached the same conclusion. It seems that there needs to a local gulp install for the tasks to be discovered.

The extension was hanging as such, but swallowing an empty result which looked like nothing was happening. It executes 'gulp --tasks-simple' which was returning an empty string and not display

[2018-01-18 18:54] bdelaney commented on #7
Thanks Nick. Hope others find this info useful.

[2018-01-18 18:54] #7 closed

[2018-01-18 20:59] nickdodd79 commented on #5
Hi,

This is in place now and will go with the next release. Got one more thing to add before I publish though so give it a few days.

Nick.

[2018-01-20 09:30] nickdodd79 commented on #5
Hi,

Version 0.0.9 that include a config option to specify a gulp file to load. If that can't be resolve it falls back to the normal discovery process.

Nick.

[2018-01-20 09:30] #5 closed

[2018-01-20 09:32] nickdodd79 commented on #6
Hi @pwsandoval,

Version 0.0.9 has now been released and include a restart command, which will stop and start a task in a single action. An icon has been added to the extension navigation palette.

![image](https://user-images.githubusercontent.com/28779139/35182022-fcd9a616-fe20-11e7-8a81-85d2698b0d58.png)

Nick.

[2018-01-21 02:15] pwsandoval commented on #6
Yes, excellent improvement.

[2018-01-21 02:15] #6 closed

[2018-04-30 19:06] josephliccini opened #8 "make gulpfile.js discovery case insensitive"
our file was named `gulpFile.js` and this extensions wasn't able to discover it.

Thanks!
Joe

[2018-05-01 03:50] nickdodd79 commented on #8
Should be an easy fix. I'll get something out to you shortly.

[2018-05-02 00:44] nickdodd79 commented on #8
Hi @josephliccini

I have just published version 0.0.10, which should hopefully address your case insensitive issue.

Nick.

[2018-05-04 17:04] josephliccini commented on #8
awesome thanks!

[2018-05-04 17:04] #8 closed

[2018-05-20 19:55] NN--- opened #9 "Support local gulp"
Add support for locally installed gulp inside node_modules/.bin/gulp

[2018-05-21 00:57] nickdodd79 commented on #9
Hi,

This is supported in a new version of the extension I am hoping to release shortly.

If I get chance I might be able to back port to this version.

Watch this space....

Nick.

[2018-05-28 19:49] nickdodd79 commented on #9
Hi @NN---

I have put a change in the current version to now use a gulp install in node_modules. Check out version 0.0.12.

Nick.

[2018-05-29 08:00] NN--- commented on #9
It works, but I need gulp to run in terminal same way npm or yarn extensions can do:

[code]

Similar to:
[code]

[2018-05-29 11:21] NN--- commented on #9
I set "gulptasks.runInTerminal": true but still doesn't run in terminal and cannot find node.

[2018-05-29 11:27] nickdodd79 commented on #9
Hmm. Have you tried restarting vscode? I have been using it for the last hour or so in both terminal and output. Need to try and work out whats different between out environments.

[2018-05-29 12:18] NN--- commented on #9
I tried, didn't help.
I have node defined locally for terminal:

[code]

[2018-06-09 03:02] nickdodd79 commented on #9
Hi @NN---

I have spent the last few days trying to get terminal windows and environmental variables working for the extension. Unfortunately, the built in vscode terminal is quite primitive and doesn't provide any process outputs - something I need to build the gulp tasks tree. I also tried to follow the vscode-yarn project recipe and use a third party terminal package, but that failed as well. I

[2018-06-09 04:47] NN--- commented on #9
Thanks for you effort.
I have a workaround via opening terminal and running gulp manually.
I’ll try the changes you pushed, but if it doesn’t work, it is not a big problem.
Thanks

[2018-06-09 05:32] Spown opened #10 "option to suppress notifications"
Please add an option to disable ``"Gulp Tasks: The task 'foo' has completed successfully."`` It is perfectly fine to assume if nothing did go wrong - there is nothing to report. Only An error is of an interest. Constantly closing the same non-informative notifications is not very productive.

Thank you.

[2018-06-09 06:10] nickdodd79 commented on #10
Hi @Spown

Thanks for the suggestion. You can find these in the new v1.1.0 release. There are settings to control executed, terminated and restarted notifications.

Nick.

[2018-06-09 06:42] Spown commented on #10
Thank you.

[2018-06-09 06:42] #10 closed

[2018-06-09 06:46] Spown opened #11 "Execute a task with double click"
and/or with enter. Thank you.

[2018-06-09 06:52] Spown opened #12 "Some legacy settings have been detected that should be migrated."
I get this warning every time VSC is started even when I have no ``gulptasks.*`` settings whatsoever.
[code]
Thnx.

[2018-06-09 06:53] nickdodd79 commented on #11
Not done much with keyboard or mouse events in vscode yet, so will need to brush up on that before this request is in place. Watch this space.

[2018-06-09 07:54] nickdodd79 commented on #12
Hi @Spown

I forgot to revisit that bit before releasing v1 so thanks for the reminder. In v1.1.1, the legacy settings are no longer included with default values. So only where you have overridden the defaults will that message appear.

Nick.

[2018-06-10 01:18] mfreeman-xtivia commented on #10
A favor---can you tell me what setting I would use to disable these notifications? thanks

[2018-06-10 01:27] Spown commented on #10
@mfreeman-xtivia if you go to the extension page in VSCode and then to the Contributions tab you will see everything that the said extension adds to the program.

[code]

@nickdodd79 I think a proper Readme wouldn't harm...

[2018-06-10 08:15] NN--- commented on #9
Unfortunately it cannot find node cause I configured it only for terminal and not globally.

[code]

Perhaps you can add settings "gulp.nodePath" similar to "tslint.nodePath" setting in [vscode-tslint](https://github.com/Microsoft/vscode-tslint) ?

[2018-06-10 10:17] nickdodd79 commented on #10
@mfreeman-xtivia + @Spown,
The readme has been updated to detail the settings available for the extension.

[2018-06-10 10:30] nickdodd79 commented on #9
OK. I was hoping this block of code would specify where path variables were defined in the workspace settings, that could then be added to the env object for the process. This in turn would allow the process to resolve your custom install of node.

[code]

Looking at the vscode-tslint project, am I correct in understanding that it is actually the node_modules path that is missing? This would mean

[2018-06-10 10:50] NN--- commented on #9
This is output of 'Gulp Auto Detection' .
If I open 'Run tasks' I don't see gulp there. only npm and tsc.

[2018-06-10 12:30] NN--- commented on #9
Sorry, my bad.
Everything working well ! :)

[2018-06-10 12:35] #9 closed

[2018-06-10 18:48] nickdodd79 commented on #9
Cool.

[2018-06-11 20:20] gilluminate opened #13 "filters setting not working?"
Getting the following error every time I open VSCode suggesting that the extension is not ignoring node_modules as intended by the default filters setting

```Gulp Tasks: Command failed: gulp --tasks-simple --gulpfile "[_full path to my project_]/node_modules/gulp-chug/gulpfile.js" module.js:549 throw err; ^ Error: Cannot find module 'gulp-istanbul' at Function.Module._resolveFilename (module.js:5

[2018-06-11 21:53] nickdodd79 commented on #13
Yeah that does seem weird. I'll do some investigations. If you remove the filters (so empty array) does it try to use any other node_module files (assuming it will get that far)?

[2018-06-11 22:40] gilluminate commented on #13
Setting filters to an empty array gives the exact same result.

BTW, if I remove that gulpfile from node_modules, I get a similar error but for a different npm module, so I guess it's only displaying the first error to me.

[2018-06-11 22:50] nickdodd79 commented on #13
Ok cool. That definitely does seem like the filters have stopped working. Could be a case sensitive thing. What environment are you in (e.g. windows, linux, etc.).

[2018-06-11 22:55] gilluminate commented on #13
MacOS: 10.13.5 (High Sierra)
VS Code: 1.24.0

[2018-06-12 19:04] nickdodd79 commented on #13
Hey @gilluminate

I have taken a look and everything is working as expected, but I am on a Windows machine, so it would seem to be an OS quirk. I shall do some more investigations - I have an iMac floating around somewhere.

Watch this space.

Nick.

[2018-06-12 19:28] nickdodd79 commented on #13
I installed `gulp-chug` to a test project and I think I have managed to replicate your error message:

[code]

But I had to remove the node_modules value from from filter settings:

[code]

Can you check your `gulptasks.filters` value. My test project ignores `gulp-chug` with the following filters (which are the defaults):

[code]

[2018-06-13 01:06] gilluminate commented on #13
Yeah, that's weird. I didn't originally have anything in my settings, which should be respecting that default. I've tried an empty array, bower only and the full defaults set explicitly. Nothing seems to help.

[2018-06-13 21:36] nickdodd79 commented on #13
Hmm ok. I dug out my iMac so will try some testing in that environment.

[2018-06-14 02:53] nickdodd79 commented on #11
This request won't be possible just yet due to restrictions with the tree provider offered by vscode.

Currently it only allows either single or double click events, but not both. I have raised a feature request with the vscode team to provide more event handlers, so we will need to wait on them.

[2018-06-14 06:48] nickdodd79 commented on #12
Hopefully the change addressed your issue. Can this be closed?

[2018-06-14 15:59] Spown commented on #12
I suppose... thank you

[2018-06-14 15:59] #12 closed

[2018-06-25 10:07] nickdodd79 commented on #11
The vscode team have said they are looking to get double click handling out in a not-too-far-in-the-future release. As soon as it is available, I will be adding the ability to execute a task using double clicks.

[2018-06-25 10:09] nickdodd79 commented on #13
Hi @gilluminate

I am still looking into this and trying to replicate it. I have been a little time poor over the last week or so, but will be trying to get back into setting up my mac and providing a solution.

Nick.

[2018-06-25 16:30] gilluminate commented on #13
Thanks, Nick. I keep meaning to find some time to try it out without any other extensions just to be sure it's not a conflict issue, but haven't had much time either. So, I totally understand :)

[2018-06-27 19:52] nickdodd79 commented on #13
Hi @gilluminate

I finally managed to try and replicate your issue on my iMac with no luck. I installed gulp and gulp-chug in a test project and everything loaded up in the extension as expected.

It would seem your suggestion around conflicts might be the next avenue to explorer.

I will close this issue, but if you do track down the cause, I'd been keen to learn what it was so I can implement so

[2018-06-27 19:52] #13 closed

[2018-06-28 17:00] gilluminate commented on #13
Ok, @nickdodd79 I figured out what the problem was. I am using a multi-root Workspace in VS Code. As such, the results from the gulpfile query were returned with my root directory appended to the beginning. So the solution was to use:

    "gulptasks.filters": [
        "!**/node_modules/**"
    ]

That may be something you want to call out in your documentation for other multi-root users.

Thanks

[2018-06-28 22:50] nickdodd79 commented on #13
Hey @gilluminate

Awesome. Thanks for the update. That makes total sense and is certainly a scenario if neglected to test, so I shall be all over it both in terms of a fix moving forward and getting some documentation out there.

Thanks again...great work :-)

Nick.

[2018-07-04 05:10] shreeshkatyayan commented on #13
@gilluminate we're talking about workspace settings here, right? I am facing the same error and somehow remains unsolved even after going through this thread.

Environment specifications

VSCode - Version 1.24.1
Gulp Tasks - Version 1.1.2
Gulp CLI - Version 3.9.1
MacOS - 10.12.6 (Sierra)

[2018-07-04 06:55] gilluminate commented on #13
@shreeshkatyayan yes, in my case I solved it in Workspace settings.

[2018-07-04 08:28] nickdodd79 commented on #13
Hey @shreeshkatyayan

Apologies, I have been a bit slack and time poor with putting a more global fix for this in place and adding some documentation. I will endevour to get something done shortly.

Nick.

[2018-07-04 20:15] nickdodd79 commented on #13
I have now added the necessary default settings so this should just work for both single and multi-root workspaces. If, however, you have custom filters defined, you will need to alter them to use the notation provided by @gilluminate (i.e. prefix with a **).

[2018-07-05 07:30] shreeshkatyayan commented on #13
@nickdodd79 greatly appreciate you taking out time 😄have received the update to the package. I think there's something amiss in how I'm perceiving the filter (I highly doubt though that this is the case).

My project setup is:

Workspace
|-- Client
      |-- User
      |     |-- gulpfile.js
      |     |-- node_modules
      |     |-- bower_components
      |
      |-- Admin
|-- Server

[2018-07-05 18:52] nickdodd79 commented on #13
Hey @shreeshkatyayan

When the discovery process attempts to locate the gulp files in your workspace, the filters are used to exclude any matches that should not be added to the gulp tasks tree. This is generally node_modules and bower_components by default. You also have the option to override these defaults to include your own filters via Preferences > Settings. So in you your project setup, you

[2018-07-09 07:32] shreeshkatyayan commented on #13
That's exactly how I intended it to be behaving, but still getting the same issue. Fetching gulpfiles gets stuck at . Will try to debug it and let you know the problem by next week. Superbusy work week for now 🤒

[2018-07-12 10:56] nickdodd79 commented on #11
Hi @Spown

Double click has now been added to v1.2.0. Instead of waiting for vscode to natively support double click, I have used some timer trickery to make it possible.

Nick.

[2018-07-12 12:18] Roxas92 opened #14 "Errorlog"
I just moved from Atom to VSCode und discovered that there is no errorlog or message when my gulp task could not be executed.

In the atom extension I had this windows/log:
![image](https://user-images.githubusercontent.com/7781761/42632723-6c857040-85de-11e8-9c02-ffe38992ae56.png)

Am I missing something or is that just not a part of vscode-gulptasks? If not, I'd like to request this feature.

[2018-07-12 19:42] nickdodd79 commented on #14
Hi @Roxas92

All logs and messages emitted by gulp should be displayed in the Output console under the Gulp Tasks channel. You can access the output via the View > Integrated Terminal menu. There is an Output tab and then a dropdown to select the channel.

Here is an example of what you should see (colorizing is unfortunately not provided by vscode yet in this window).
![image](https://user-images

[2018-07-12 19:52] nickdodd79 commented on #11
Hey @Spown

Glad you like the solution :-) Thanks for reminding me of the interval output - yep, used it for debugging and shouldn't be in there. I've removed it and will push it in the next release.

As this feature is now available, I'm gonna close this issue. I was hoping some new handling would be in the recent 1.25.0 release of vscode, but it looks like we will be awaiting a bit longer. Once

[2018-07-12 19:52] #11 closed

[2018-07-17 17:21] dbenson24 opened #15 "Adding a couple more config options"
I was wondering if it would be easy to add 2 more config options,

I like to be able to specify gulptasks.gulpPackage which points to the folder that gulp is installed
(/some/file/path/node_modules/gulp)

I would also like to be able to specify gulptasks.gulpcwd which would supply a value to the --cwd option for gulp

[2018-07-17 17:31] #15 closed

[2018-07-21 00:01] nickdodd79 commented on #14
Hi @Roxas92

I assume this issue is all resolved so will now close it.

Nick.

[2018-07-21 00:01] #14 closed

[2018-07-26 14:15] aaronmanela opened #17 "Only works in single-folder workspaces"
If there are multiple folder assigned to a workspace, it throws an error - I think it is trying to assign the first gulpfile it finds to the first root it finds, which may not match.
Ideal behavior is for a single GulpService to be aware of all entries in the workspace.workspaceFolder[] (rather than the first entry, which is the same as the root) (https://code.visualstudio.com/docs/extensionAPI/vs

[2018-07-26 14:16] aaronmanela commented on #17
If you want to add me to the project you can assign it to me, I'd be interested in solving the problem.

[2018-07-26 19:19] nickdodd79 commented on #17
Hey @aaronmanela

I have added you as a contributor. Thanks for the help.

Nick.

[2018-07-30 10:47] mt-webdev opened #18 "UX - where is the UI showing up"
I installed the extensions - Where is it hiding???

[2018-07-30 10:54] mt-webdev commented on #18
Got it, after installing the gulp-cli it showed up

[2018-07-30 10:56] mt-webdev opened #19 "Q: Adding custom gulp tasks"
Is it possible to add a gulp task which is not existing inside the gulpfile itself but in a spearate JS file -> like Drag'n'Drop behavior?

[2018-07-30 10:56] nickdodd79 commented on #18
Awesome. It is disabled if gulp can't be found. Should probably add an setting to specify whether the extension is hidden if gulp is not located (i.e. should to always show).

[2018-07-30 10:56] #18 closed

[2018-07-30 11:00] nickdodd79 commented on #19
Hey @mt-webdev

You can't drag and drop onto the extension. It reads all the gulp*.js files in the workspace. Is the separate file you mention outside the workspace? You can have multiple gulp files scattered throughout your project and the extension will find them (as long as your settings don't exclude them).

Nick.

[2018-08-01 20:55] aaronmanela commented on #17
Thank you much. Will get to work on this issue soon.

[2018-08-05 20:50] YonasJ opened #20 "Gulp output formatting"
When I run the plugin, my output shows up in the gulp console, however, the formatting does not come out quite right. I am using SPFX, which seems to want to format the output.

<img width="1170" alt="2018-08-05 13_48_08-gulpfile-prod js - projectfinancials - visual studio code" src="https://user-images.githubusercontent.com/12806261/43689938-6853d6c0-98b6-11e8-9ab6-5a0fd7d79d5a.png">

In the cons

[2018-08-07 01:49] nickdodd79 commented on #20
Hi @YonasJ

I have attempted the formatted/colored output before, but due to limitations with vscode, it was a struggle. That was however a few versions ago so they may have improved the abilities. I will take a look and see if it is something I can put in place.

Nick.

[2018-08-07 18:48] cutterax opened #21 "cwd arg points to root of workspace instead of gulpfile's path"
Hi,

The new cwd argument added to the gulp commands points to the root of a workspace.

Since a gulpfile may not be at that location, this breaks some tasks.

The issue can be circumvented by specifying a cwd as a parameter for gulp.src for example but maybe the default should be the gulpfile's path?

Anyway, thanks for the great extension!

[2018-08-07 18:56] cutterax commented on #21
Nevermind. It's not working with the cwd parameter either.

[2018-08-07 19:01] cutterax commented on #21
OK so the cwd parameter works but it must be specified for everything that uses a path like src and dest.

So the best thing would be for the cwd argument to point to the gulpfile instead.

[2018-08-08 02:17] nickdodd79 commented on #21
Hi @cutterax

I think we may be looking into this issue already. @aaronmanela is this what you are addressing in #17?

[2018-08-13 19:30] nickdodd79 commented on #20
Hey @YonasJ

I have been looking into the coloring of the output and it seems to be possible, However, there are some complexities especially with regards to clashing with other extensions. It seems to be based on a mime type and if another extension you have installed uses that mime type as well, then it a 'last wins' situation.

I will look into it more, but it may turn out to be somewhat proble

[2018-08-13 19:31] #19 closed

[2018-09-18 08:26] simoneldevig opened #22 "Error on package.json"
Hi,

I'm getting this error when trying to load Gulp Tasks.

The path to the gulpfile.js is correct but package.json is located in the same location under `/scaffold`

[code]

[2018-09-19 19:52] nickdodd79 commented on #22
Hi @simoneldevig

I suspect this could be an expectation that gulp has with regards to a package.json. I will do some investigation to reproduce, find out why and see if a update can be put in place.

What this space.

Nick.

[2018-09-25 01:28] simpert opened #23 "support gulpfile.ts"
I use `typescript` and therefore my gulp files are `gulpfile.ts` rather then `gulpfile.js`.

*Gulp* supports typescript out of the box.
As long as `ts-node` package has been installed, `gulp taskName` with load `taskName` from the `typescript` file via `ts-node` by auto registering with `gulp --register/ts-node`.

Please support typescript files in extension. I changed the glob to use `.ts` but it

[2018-09-25 06:13] simoneldevig commented on #22
Thx @nickdodd79 :-)

[2018-09-25 08:36] nickdodd79 commented on #23
Hi @simpert

Great suggestion. I'll see what I can do.

Nick.

[2018-10-09 13:17] kAlvaro opened #24 "Display output automatically"
It took me a while to figure out that the extension can actually display task output because the corresponding pane is not displayed automatically. I need to manually display the *Output* panel and then select *Gulp Tasks* in the drop-down.

It'd be nice if that could happen automatically.

[2018-10-09 21:17] nickdodd79 commented on #24
Hi @kAlvaro

This will be a simple change. There is a capability on the output channel to 'preserveFocus'.

It is set to not show the output - mainly from an annoyance perspective. I will add a setting that will allow you to specify whether it should focus on the output or not.

New release coming soon with some other stuff and I'll include this.

Nick.

[2018-10-10 08:43] kAlvaro commented on #24
Pretty good news, thank you.

I'm not very familiar with Gulp yet so this may be a silly idea but... Would it make sense to implement three values for such setting?

- `always`: show *Output* pane when task starts running
- `auto`: show *Output* pane when task prints output
- `never`: do not show *Output* pane

[2018-10-10 09:33] nickdodd79 commented on #24
I think that'll work - certainly opens more up options than just a true/false alternative.

[2018-10-10 11:51] kAlvaro commented on #24
Sorry for flooding the ticket but perhaps there's room for a fourth value like `onError`, that would trigger whenever the task fails. I presume Gulp returns a non-zero code in such case (you'll know better than me because the extension already handles that anyway). I believe that whether something is printed to _stderr_ is not necessarily an indicator of failure.

[2018-10-10 20:27] nickdodd79 commented on #24
Yep that works well. I've added when a task starts, completes and errors. Every time a message is emitted when a task is in progress. And then the never option.

[2018-10-18 01:07] stone821 commented on #24
I like this feature, too. When do you release the newest version?

At the moment, I open the Output panel, run a gulp task, then don't output anything in the panel.

Thanks for your hard work.

[2018-10-18 08:06] nickdodd79 commented on #24
Hi @stone821

I have put this in place now. It highlighted a slight misalignment with output messages and using gulp.watch, which I have attempted to fix - just testing.

I plan on releasing v1.3.0 over the next few days.

Nick.

[2018-10-18 09:32] nickdodd79 commented on #24
After some testing I couldn't seem to break anything so published. You can now find a new configuration setting to control the output displaying in v1.3.0.

[2018-10-18 09:36] nickdodd79 commented on #23
Hi @simpert

I have added a capability that will now let you run a ts gulp file. If you do the following you should be able get your tasks to display and execute:

1. Go to **File** > **Preferences** > **Settings**.
2. Search for `gulptasks`.
3. Set the pattern as `**/gulpfile*.+(js|ts)`.
4. Add `--register/ts-node` to the args array.

Let me know if you have any issues.

[2018-10-18 14:30] kAlvaro commented on #24
Nicely designed change, thank you very much.
BTW, the two first descriptions are swapped:

          "enum": [
            "Task Starts",
            "Task Progress",
            "Task Completes",
            "Task Errors",
            "Never"
          ],
          "enumDescriptions": [
            "When a task outputs progress (every message)",
            "When a task starts",
            "When

[2018-10-18 17:25] nickdodd79 commented on #24
That'll be the last minute change I did and clearly didn't check it all over. Thanks for the spot. I have released v1.3.1 with a correction.

[2018-10-25 10:35] #24 closed

[2018-11-03 08:35] #23 closed

[2018-11-04 17:59] advokatb opened #25 "Task perfomed but no result"
Hi. I have an WordPress theme with **src** folderd inside with mytheme\src\gulpfile.js inside it.
[code]

I've changed config `"gulptasks.pattern": "**/src/gulpfile.js"` for finding this file.

But when I press Watch or Build
![default](https://user-images.githubusercontent.com/6189889/47967925-c2419300-e06b-11e8-9aee-400323ada2bf.png)
the log says that build is completed
[code]
but neither script

[2018-11-04 18:12] nickdodd79 commented on #25
Hi @advokatb

Everything looks like it should from the extracts you have posted. If you run `gulp build` in the terminal window do you get the same result? And do the individual tasks run as expected when invoke on their own?

On thought is that the paths in your `path` variable are pointing to the wrong locations so the tasks are not resolving any streams.

Hope that helps.
Nick.

[2018-11-04 18:26] advokatb commented on #25
When I run `gulp build` in terminal everythig works as expected.
This command creates/updates my inline.css + styles.css.
When I run tasks from extension nothing happens except log (it says that everything is fine).
I'm new to gulp and can't figure out what should I do to solve this :(

[2018-11-04 18:28] nickdodd79 commented on #25
OK, I'll do some testing to see if I can replicate the issue,

[2018-11-04 18:42] nickdodd79 commented on #25
Can you provide some more info about the structure of your project. The various files you want to consume from the `path` variable, are they within the `/mytheme/uberdeal/src` path or in folders on the project root (i.e. `/scripts/libs.js` or `/mytheme/uberdeal/src/scripts/libs.js`)?

For the purpose of running tasks in a multi project workspace, we set the `cwd` value for the gulp process to the

[2018-11-04 18:58] nickdodd79 commented on #25
So, my testing has actually shown the opposite to my last comment 😄

If I put `styles/test.scss` on the project root and run a task in `test/src/gulpfile.js` with a glob of `styles/*.scss` it generates the expected result. If I then move the `styles` folder into the `src` folder nothing happens.

Based on this you may need to change your paths to be relative to the project root not the gulp file l

[2018-11-04 19:00] advokatb commented on #25
[__TreeOutput.txt](https://github.com/nickdodd79/vscode-gulptasks/files/2546168/__TreeOutput.txt)
Here is the structure of my project

[2018-11-05 11:52] kuntergunt opened #26 "does not support separated gulp tasks"
I have split up my gulp tasks into multiple files in the ./gulp/tasks directory. The extension just says "no gulp files found".
(see http://macr.ae/article/splitting-gulpfile-multiple-files.html )

The gulpfile.js itself at minimum just looks like this (can have additional stuff like default task, watch etc.):
require('require-dir')('./gulp-tasks');

Is there a way to add support for this?

[2018-11-05 11:56] kuntergunt commented on #17
This seems to work now. It somehow finds gulpfile.js files in subfolders (subprojects) and shows a nice hierarchy.

[2018-11-05 12:07] kuntergunt commented on #17
It shows a nice hierarchy of gulpfiles in subfolders (sub projects). But execution starts in the root folder instead of the subfolder. A cwd should do the trick.

[2018-11-06 18:10] nickdodd79 commented on #17
Hey @kuntergunt

We already apply the cwd parameter.

I think the problem is when the extension loads it tries  to resolve the path for the gulp process. However, in a workspace, this might needs to be different for each project. I am working on a solution that will resolve multiple instances of gulp and assign it to the task.

Nick.

[2018-11-06 18:21] nickdodd79 commented on #26
Hi @kuntergunt

In theory the file splitting should just work. The extension uses `gulp --tasks-simple` to get a list of tasks for given gulp file. It seems weird that gulp doesn't resolve the split out tasks when that is invoked, but does when a tasks is execute.

I will need to replicate the setup to see what is happening.

Nick.

[2018-11-06 18:48] nickdodd79 commented on #25
Hi @advokatb

So I think I have a fix for your issue, which involves changing the paths in your gulp file.

The extension will invoke gulp from the root of the open project, which means it can't find the files you want processed based on your `path` variable. Instead these need to be relative to the root, not the gulp file.

As a further example, your structure is similar to this:

[code]

You wil

[2018-11-06 20:48] advokatb commented on #25
Changed to
[code]

but still doesn't work

[2018-11-06 21:56] nickdodd79 commented on #25
May be you need to experiment with the paths in your project a bit more. Does the `uberdeal` folder live in the project tree in vscode? If so you will need to include that in the changes (e.g. `uberdeal/src/styles/lib.css`).

[2018-11-07 07:23] advokatb commented on #25
This did the trick! Everything works now 👍

[2018-11-07 07:23] #25 closed, assigned to nobody

[2018-11-09 08:23] kAlvaro opened #27 "Error: spawn sass.bat ENOENT"
I have a task to run the Ruby version of SASS on Windows:

[code]

I works correctly in command line (tested both in CMD and PowerShell):

    gulp css

However, when I run the task with the extension I get:

[code]

I thought it might be having issues finding `sass.bat` through the `PATH` environment variable but using an absolute path (`'D:\\Ruby22-x64\\bin\\sass.bat'`) just triggers `Error: spa

[2018-11-10 02:25] nickdodd79 commented on #27
Hey @kAlvaro

I'll take a look and see if I can work out why. Watch this space.

Nick.

[2018-11-13 17:42] nickdodd79 commented on #26
Hey @kuntergunt

I finally found some time to look into this and don't seem to be able to replicate. When I split the tasks into separate files and use `require('require-dir')('./tasks');` to bring them together in a gulp file, it works.

![image](https://user-images.githubusercontent.com/28779139/48432013-55469f80-e7c7-11e8-9886-fb84de71452a.png)

![image](https://user-images.githubusercontent.co

[2018-11-13 18:42] nickdodd79 commented on #27
Hi @kAlvaro

Finally got some time to look at your issue. It would seem the setup of your child process is causing the failure. To start with I couldn't get it run via the extension or directly in the console.

I managed to get your code to run when everything is defined as absolute paths as below (I removed some of the process flags for verbosity).

[code]

It would seem that it was either trying

[2018-11-13 18:55] nickdodd79 commented on #22
Hi @simoneldevig

Apologies for the delay. I have attempted several approaches to replicating your issue and everything works for me. Though for nested `package.json` files and `node_modules` a global gulp install is required.

I am suspecting the issue is related to the `binding.open(...)` call attempting to find your `package.json` for what ever reason. You may have to add a dummy `package.json`

[2018-11-24 08:54] nickdodd79 commented on #27
Closing due to no follow up.

[2018-11-24 08:55] nickdodd79 commented on #26
Closing due to no follow up.

[2018-11-24 08:55] #26 closed, assigned to nobody

[2018-11-24 08:55] nickdodd79 commented on #22
Closing due to no follow up.

[2018-11-24 08:55] #22 closed

[2018-11-24 14:53] kAlvaro commented on #27
My excuses, I hadn't understood you were expecting further feedback from me. Do you want me to try replacing `child_process.execFile` with `child_process.exec` and using full path to `sass.bat`? If so, I'll be able to report back on Monday.

In any case my current `gulpfile.js` works for me in the console (either standalone or from within VSCode). I must note that I have `D:\Ruby22-x64\bin` in my

[2018-11-29 14:50] kAlvaro commented on #27
I'm possibly doing something wrong but I can't make it work either with `child_process.exec` and full path to `sass.bat`. I get a similar error, just with a different file in *spawn ENOENT*:

[code]

[code]

As with the original task, it works fine from a regular prompt. (I only opted for `execFile` because I can pass arguments in an array and I don't need to escape them.)

Is there any check I ca

[2018-12-06 02:46] kevincam3 opened #28 "Gulp Tasks: Command failed"
Got the following after installing the extension. I'm using Gulp 4 so maybe it's not compatible yet.

![image](https://user-images.githubusercontent.com/870934/49557881-464b9c80-f8f0-11e8-9290-d12f9ad581d4.png)

[2018-12-06 08:48] nickdodd79 commented on #27
I will need to take another look just to refresh my memory on the issue. Can you try adding the `sourcemap` and other flags along side the `cwd` property (i.e. in the object).

[2018-12-06 08:51] nickdodd79 commented on #28
Hi @kevincam3

You are correct in that the extension has not yet been tested or targeted with Gulp 4. I will take a look and see if it is something that can be done.

Nick.

[2018-12-06 09:23] nickdodd79 commented on #28
Installing gulp v4 worked fine for me and all my gulp tasks loaded as expected.

After some research it would seem there is perhaps something not correct with your tasks. I found this issue and link (the link is at the bottom of the issue thread):

https://github.com/gulpjs/undertaker/issues/54
https://fettblog.eu/gulp-4-parallel-and-series/

[2018-12-06 09:47] kevincam3 commented on #28
Got it. I was using someone else's code and It's not compatible with Gulp
4. Thanks for looking into this.
On Thu, Dec 6, 2018 at 7:23 AM Nick Dodd <notifications@github.com> wrote:

--
Kevin Campbell
TCM Services - Senior Web Designer
Ofc:  (877) 826-0505 x901
Fax:   (877) 826-0508
kevin@tcmsvc.com
http://www.tcmsvc.net

[2018-12-06 11:35] kAlvaro commented on #27
I've tried several variations of what I understood you're referring to:

	{
		cwd: 'webroot/styles',
		"--sourcemap=none": "",
		'--style=compressed': "",
		'foo.scss': "",
		'foo.css': ""
	}

	{
		cwd: 'webroot/styles',
		"--sourcemap": "none",
		'--style': "compressed",
		'foo.scss': "",
		'foo.css': ""
	}

... and some more but I only get even more cryptic errors messages:

- Command line:

[2018-12-12 15:21] kAlvaro commented on #27
I can confirm that Dart Sass works flawlessly in my other PC too.

Whatever the problem is, I feel it isn't the extension's fault.

[2018-12-12 18:07] #28 closed, assigned to nobody

[2018-12-12 18:13] nickdodd79 commented on #27
Hey @kAlvaro

Firstly apologies for no follow up on my side - I've been a little time poor recently.

Thanks for the confirmation. As you say, it does look like something going on with Ruby Sass that is causing the problems. From memory, my findings was that is was attempting to resolve paths from some relative root that was not common between the `sass.bat` file and the `styles` folder.

If you a

[2018-12-13 08:54] kAlvaro commented on #27
The only difference I've been able to spot between running gulp from command-line and from your extension is that the `%CD%` env variable as read within `sass.bat` gets different case for drive letter:

- From terminal: `C:\...\webroot\styles`
- From extension: `c:\...\webroot\styles`

Unless something in that strikes as immediately obvious to you, I'm fine with closing the ticket.

[2018-12-13 18:00] nickdodd79 commented on #27
Hey @kAlvaro

The extension requests the env variables from the node process and are used as provided. This to me implies node is altering the casing of the value.

One option would be add a config item that allows key/values to be defined that are appended to the gulp processes. Therefore, you could override the `%CD%` value with whatever you needed it to be.

Nick.

[2018-12-19 18:06] kAlvaro commented on #27
I don't think I fully understand your proposal but, considering that the only use case so far would be a deprecated tool that already has a supported replacement, I'd vote to _not_ do that.

(I'm closing the ticket, I hope there's no problem.)

[2018-12-19 18:06] #27 closed, assigned to nobody

[2018-12-19 20:14] nickdodd79 commented on #27
Fine with me. I think where we have arrived with this issue works well. Thanks.

[2019-03-05 22:40] garrettw opened #29 "Skip when node_modules not found"
It seems that finding all tasks in a project fails when the extension finds a gulpfile without a corresponding set of installed node_modules. Instead of failing out completely, could that particular gulpfile just be skipped, perhaps with a notice in the extension's output pane?

[2019-03-06 07:36] nickdodd79 commented on #29
Hi @garrettw

Are you using workspaces in vscode?

If so, there is a known issue with the extension resolving gulp multiple times (per workspace project). I started a solution, but haven't got around to completing it. I am hoping to shortly so will let you when it is done.

If not, can you provide some more info around your project structure.

Thanks,
Nick.

[2019-03-06 14:36] garrettw commented on #29
I am using workspaces. When I submitted this issue, I was working on a Drupal 7 project where I have a custom module and a custom theme, both of which have their own gulpfiles (rather than one at the root). I was making changes to the theme, and I had already run `yarn install` in that directory, but I hadn't in the module's directory -- and according to the output pane, the module was where this

[2019-03-14 01:37] mikeerickson opened #30 "Gulp 4 Support?"
Hey there

I am just trying this extension, however, it does not seem to support Gulp 4 tasks?

Is there something I need to do to configure it for Gulp 4, or does it not support Gulp 4

[2019-05-01 08:05] michalstol opened #31 "Not compatible with 1.15.1 version"
I can not install this plugin because is not compatible with the 1.15.1 version of Visual Studio Code.

[2019-05-02 19:04] nickdodd79 commented on #31
Hey @michalstol

Thanks for the heads up. I am hoping to get some time soon to update the plug. Watch this space.

Nick.

[2019-05-02 19:05] nickdodd79 commented on #30
Hey @michalstol

Apologies for the delay in responding. I didn't see this issue come in. I am hoping to get some time soon to update the plug. Watch this space.

Nick.

[2019-05-07 15:29] ackzell opened #32 "nvm support?"
I am not sure how I am to let `vscode-gulptasks` know where to look for my `gulp` and particularly `node-sass` installation.

![image](https://user-images.githubusercontent.com/601266/57312209-bc784900-70b2-11e9-849f-44a261d10112.png)

It seems like it is grabbing the default `nvm` version and I would rather be explicit and tell it which version I want.

Could you point me in the right direction p

[2019-05-17 02:04] blachawk opened #33 "Visual Studio Code is not picking up my Gulp Process"
I'm not sure if this is a  bug or if I'm doing something wrong, but I have the following code within a `gulpfile.babel.js` file.  My Gulp Task extension for Visual Studio code is not recognizing the following...

[code]

What am I doing wrong?  I'm assuming I should see **serve** in my Gulp Task meta box for Visual Studio Code, but nothing shows up, even if I refresh.  It just says "no gulp files

[2019-06-05 04:25] rogueco commented on #33
I'm having the same issue  - I am able to run the task through the command line without issue, but when trying to run via extension nothing is being picked up.

[2019-09-13 15:25] Ekomak opened #34 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `gulptasks`
- Extension Version: `1.3.1`
- OS Version: `Windows_NT x64 10.0.18362`
- VSCode version: `1.38.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\Marc\nickdodd79.gulptasks-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-

[2019-12-02 20:23] grloch opened #35 "Use gulptasks.pattern as array"
Hi guys!

There is a way to use pattern as a array? So i can use more then one pattern.

For example:
[
    "**/gulpfile*.js",
    "**/gulptasks/*.js",
]

It would be nice to include more than one pattern, so I could use simple names for my task files: "script.js", "style.js", etc..

[2019-12-26 00:15] CREEATION commented on #30
@nickdodd79 🏓 🙈

[2019-12-26 01:58] mikeerickson commented on #30
Ya I was wondering the same thing.

[2019-12-26 02:39] CREEATION commented on #30
So, I've tinkered around a bit and it seems to be working just fine?

If this issue is about the extension not picking up on your `gulpfile.js` directory by default (instead of a `gulpfile.js` file), just edit the `gulptasks.pattern` setting to `gulpfile.js/index.js`.

Or is there something I'm missing here @mikeerickson? 🤔

//e: Might be worth considering adding `gulpfile.js/index.js` to the defa

[2019-12-26 02:47] CREEATION commented on #35
You should use a `gulpfile.js` directory instead, [as explained in the official Gulp documentation](https://gulpjs.com/docs/en/getting-started/javascript-and-gulpfiles#splitting-a-gulpfile).

After the setup, use `gulpfile.js/index.js` as your `pattern` setting for the extension. Hope this works for you 🐢

[2020-03-18 13:26] MattouBatou commented on #33
TL;DR run `npm i -g gulp` to install gulp globally on your machine.

This is old now but anyone coming to the repo because of the same issue, ensure you have done the following:

- Install vscode-gulptasks extension in vscode.
- run `npm i -g gulp`
- Restart VSCode

VSCode should now add a "Gulp Tasks" dropdown to the bottom of your Explorer pane in VSCode.

[2020-05-12 11:31] HarryAdney opened #36 "VS Code parses gulpfile.js but won't run tasks"
The title says half of it; the other half is that the Task Panel extension by Milan Bolarić runs fine.

gulpfile.js:
[code]

[2020-09-28 01:40] #30 closed, assigned to nobody

[2020-12-04 21:50] mkellogg999 opened #37 "Doesn't support gulpfile.js as a directory"
This is supported by gulp. It would be nice if your plugin also supported it.

https://gulpjs.com/docs/en/getting-started/javascript-and-gulpfiles

### From that page:
"Node's module resolution allows you to replace your gulpfile.js file with a directory named gulpfile.js that contains an index.js file which is treated as a gulpfile.js. This directory could then contain your individual modules for

[2021-02-15 07:26] jeffrson opened #38 "Error during initialization with fomantic-ui"
Hi,

I'm using a package called fomantic-ui (https://www.npmjs.com/package/fomantic-ui), which has some sort of installation script that *copies* gulpfile.js inside.
This gulpfile.js contains the following snippet:
[code]

While this is okay for the copied version, it fails for the source:
[code]

It would be great if you could provide a means of silently ignoring  this error. Maybe just print it

[2021-05-22 13:02] adel-shokry opened #39 "issue"
**I tried to work with the extension but I think it cant read a path with folder or file contain space :**

**gulp --tasks-simple --cwd "/Users/ad/My Work/sure-webv1/sure-websrc" --gulpfile "/Users/ad/My Work/sure-webv1/sure-websrc/tools/gulpfile.js"**

Error: ENOENT: no such file or directory, scandir '../src'
    at Object.readdirSync (node:fs:1381:3)
    at getFolders (file:///Users/ad/My%20Wor

[2021-11-01 14:28] SimonPhilpott opened #40 "Doesn't appear to work with locally installed gulp"
I'm setting up a SPFX 1.12.1 dev enviornment that is asking for

- gulp@4.0.2 - installed locally
- gulp-cli@2.3.0 - globally

This isn't allowing the gulp task dropdown to appear, which is does when I install gulp globally. I want to manage my gulpfile within the project folder rather than with the roaming data npm> node_modules folder.

I have gulpfile.js in my project folder which is open in vi